#div1{
    width: 300px;
    height: 300px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
button{
    background-color:red;
    color: white;
    border: 2px solid black;
    position: absolute;
    padding: 5px 10px;
    /* left: 30px; */
    right: 0px;
    top: 0px;
    /* margin-left: 90px; */
}
#div1>img{
    width: 100%;
    display: inline-block;
}
#main{
    /* border: 10px solid green; */
    width: 300px;
    /* margin: 0 auto; */
    position: relative;
    display: inline-block;
}
h1>img{
    /* position: absolute; */
position: fixed;
bottom: 30px;
right: 30px;
cursor: pointer;
/* z-index:1; appear on top */
/* z-index:-1; appear on back */
z-index:1;
}